body.vscode-light {
  background: #FFF;
}
body.vscode-dark {
  background: #334;
}


div {
  color: #404040;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
}

body.vscode-dark div {
  color: #DDD;
}

.preloader {
  margin: 120px auto 0;
}

.preloader .line {
  width: 1px;
  height: 32px;
  background: #000;
  margin: 0 1px;
  display: inline-block;
  animation: opacity 1000ms infinite ease-in-out;
}

body.vscode-dark .preloader .line {
  background: #FFF;
}

.preloader .line-1 { animation-delay: 800ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 400ms; }
.preloader .line-4 { animation-delay: 200ms; }
.preloader .line-6 { animation-delay: 200ms; }
.preloader .line-7 { animation-delay: 400ms; }
.preloader .line-8 { animation-delay: 600ms; }
.preloader .line-9 { animation-delay: 800ms; }

@keyframes opacity { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}